.App {
  background-color: rgb(53, 53, 53);
  
}

.ClassItem-image{
  height:130px;
  width: 130px;

}

.textColor{
  color:whitesmoke;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
